.title {
    color:red;
    text-align:center;
    font-size:50px;
    font-weight:bold;
}

.img {
    height:auto;
    width:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.text {
    color:black;
    font-size:20px;
    font-weight:bold;
}