* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.menu-container {
    background-color: azure;
    display:flex;
    padding:20px;
    justify-content:center;
}

.menu {
    display:flex;
    justify-content:space-between;
    width:500px;
    flex:0 0 auto;
}

a {
    text-decoration:none;
}

.heading{
    text-align:center;
    padding:10px 10px;
}

.color{
    color:red;
}

.image-container{
    display:flex;
    justify-content: center;
    gap:60px;
    align-items:center;
    padding:20px 20px;
}

.photo{
    display:flex;
    width:500px;
    height:auto;
}

h1{
    color:red;
}

h2{
    color:red;
}

ul{
    color:blue;
}

.steps{
    padding:20px 0 0 200px;
}


.steps-list{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding:10px 100px;
    gap:5px;
}