* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.menu-container {
    background-color: azure;
    display:flex;
    padding:20px;
    justify-content:center;
}

.menu {
    display:flex;
    justify-content:space-between;
    width:500px;
    flex:0 0 auto;
}

a {
    text-decoration:none;
}